$darkRed: #a50026;
$red: #d73027;
$darkOrange: #f46d43;
$orange: #fdae61;
$lightOrange: #fee08b;

$yellow: #ffffbf;

$yellowGreen: #d9ef8b;
$paleGreen: #a6d96a;
$lightGreen: #66bd63;
$green: #1a9850;
$darkGreen: #006837;

$mainImage: url(../images/red-to-green.svg);