$dark-red: #a50026;
$red: #d73027;
$dark-orange: #f46d43;
$orange: #fdae61;
$light-orange: #fee08b;

$yellow: #ffffbf;

$yellow-green: #d9ef8b;
$pale-green: #a6d96a;
$light-green: #66bd63;
$green: #1a9850;
$dark-green: #006837;

// leave relative to css folder
$main-image-url: "../../images/red-to-green.svg";
