.main-nav {
  background: $pale-green;

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/></svg>");
  }

  .container {
    width: 100%;
  }

  .nav-link {
    color: black;
    float: none;
    font-weight: 500;

    &:hover {
      background:	darken($pale-green, 15%);
    }

    &.current,
    &.section {
      color: rgba(255, 255, 255, 0.95);
      text-overflow: clip;
      text-shadow: -1px -1px 0 rgba(darken($pale-green, 25%), 0.66);

      &:hover {
        text-shadow: -1px -1px 0 rgba(darken($pale-green, 45%), 0.66);
      }
    }
  }
}
